<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="text-center">
    <h1>Select Your Role</h1>
    <%= link_to "Seller", new_user_registration_path(role: 'Seller'), class: 'btn btn-warning' %>
    <%= link_to "Buyer", new_user_registration_path(role: 'Buyer'), class: 'btn btn-warning' %>
  </div>
</div>
